PORT=5000
MONGO_URI=mongodb+srv://mubashermodern118_db_user:admin123@cluster0.wwv4luv.mongodb.net/revone?retryWrites=true&w=majority
JWT_SECRET=revone-jwt-secret-2026-secure
CLOUDINARY_CLOUD_NAME=dwv4luv
CLOUDINARY_API_KEY=129643658816371
CLOUDINARY_API_SECRET=-ejHwdigTnw3ppnqnTSoaUv72kI
